.button-primary{
  background: #2B2D2F;
  font: bold 1.25rem/1 poppins;
  color: black;
  height: 50px;
  width: 150px;
  text-align: center;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 4px;
}